<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="../../main.css">
   <title>Hirer Edit Page</title>
</head>

<body>
   <div class="container__main pad-0 w-1920">
      <header class="header-wavy">
         <div class="container__content header-wavy__inner">
            <img src="../../src/images/header/Ishim__logo.png" alt="" class="header__pic">
            <div class="header__loc">
               <form action="">
                  <select name="interface__lang" id=""
                     onchange="window.location.href=this.options[this.selectedIndex].value">
                     <option value="RU" class="header__loc__current">RU</option>
                     <option value="TM" class="header__loc__current">TM</option>
                  </select>
               </form>
            </div>
         </div>
      </header>


      <div class="reg-user-conf container__content">
         <div class="reg-user-conf__inner">
            <div class="reg-user-conf__content">
               <h1 class="reg-user-conf__title">Измените данные</h1>

               <form action="" class="reg-user-conf__form" method="post" enctype="multipart/form-data" id="form__id">
                  <div class="user-info-block">
                     <h2>Название компании</h2>
                     <div class="user-inp-blok">
                        <input type="text" class="user-text" value="" name="comp__name">
                     </div>
                  </div>
                  <div class="user-info-block">
                     <div class="user-logo-blok">
                        <div class="user__logo__txt">Добавить лого компании</div>
                        <input required type="file" class="user-logo" id="user__logo" value="" name="comp__logo"
                           accept="image/jpeg,image/png">
                        <label for="user__logo" class="user__logo__select">
                           <span>+</span>
                        </label>
                     </div>
                  </div>
                  <div class="user-info-block" id="industry__wrapper">
                     <h2>Сфера</h2>
                     <select required name="user__industry" id="user__industry" class="user-text user-select-bg">
                        <option value="">SomeIndustry</option>
                        <option value="">SomeIndustry</option>
                        <option value="">SomeIndustry</option>
                        <option value="">SomeIndustry</option>
                        <option value="">Другое</option>
                     </select>
                  </div>

                  <div class="user-info-block user-mob-block">
                     <h2>Мобильный телефон</h2>
                     <div class="user-mob-pic-wrapper">
                        <img src="../../src/images/info__pic.svg" alt="" class="user-mob-pic">
                        <p class="user-mob-info">
                           Укажите номер по которому лучше всего можно связаться с вами
                        </p>
                     </div>
                     <input required type="tel" class="user-text" value="+993" name="user__num">
                  </div>

                  <div class="user-info-block">
                     <h2>Эл. почта</h2>
                     <input required type="text" class="user-text" value="" name="user__mail">
                  </div>

                  <div class="user-info-block">
                     <h2>Пароль</h2>
                     <div class="user-inp-blok">
                        <input type="password" class="user-text" value="" name="user__pass">
                        <img src="../../src/images/close__eye.svg" alt="" class="user-block-pic" id="eye__btn">
                     </div>

                  </div>
                  <div class="user-info-block">
                     <h2>Подтверждение пароля</h2>
                     <div class="user-inp-blok">
                        <input type="password" class="user-text" value="" name="user__pass__check">
                        <img src="../../src/images/close__eye.svg" alt="" class="user-block-pic" id="eye__btn">
                     </div>
                  </div>

                  <div class="user-info-block" id="city__wrapper">
                     <h2>Город проживания</h2>
                     <select required name="user__city" id="user__city" class="user-text user-select-bg">
                        <option slected value="ag">Ашхабад</option>
                        <option value="annau">Аннау</option>
                        <option value="baharden">Бахарден</option>
                        <option value="bizmein">Бизмеин</option>
                        <option value="gektepe">Гёкдепе</option>
                        <option value="kahka">Кахка</option>
                        <option value="tedjen">Теджен</option>
                        <option value="balkanabad">Балканабад</option>
                        <option value="bereket">Берекет</option>
                        <option value="anothr__city">Другой город</option>
                     </select>
                  </div>
                  <div class="user-info-block">
                     <h2>Пол</h2>
                     <div class="user-gender-block">
                        <input required type="radio" id="man-id" value="man" name="user-gen">
                        <label for="man-id" class="user-gender">Мужчина</label>

                        <input required type="radio" id="woman-id" value="woman" name="user-gen">
                        <label for="woman-id" class="user-gender">Женщина</label>
                     </div>
                  </div>
                  <input required type="submit" class="continue__btn purp__btn m-0auto" value="Продолжить">

               </form>
            </div>
         </div>
      </div>
   </div>
   <script src="../../scripts/select_another_city.js"></script>
   <script src="../../scripts/select_another_industry.js"></script>
   <script src="../../scripts/show_hide_pass.js"></script>

</body>

</html>