@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik/static/Rubik-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

header {
    height: 80px;
    position: relative;
    background-color: #4cf1e7;
}

.header-background {
    position: absolute;
    width: 100vw;
}

.logo {
    padding: 20px;
    left: 8vw;
    position: absolute;
    cursor: pointer;
}

.box1 {
    position: absolute;
    left: 30vw;
}

.search {
    position: absolute;
    width: 33vw;
    height: 38px;
    border-radius: 10px;
    border-style: none;
    margin: 20px 0px;
    padding-left: 40px;
}

.icon_search {
    position: absolute;
    padding: 25px;
    padding-top: 27px;
    padding-left: 13px;
}

.sitting {
    width: 38px;
    height: 38px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin: 20px 0px;
    cursor: pointer;
    left: 68vw;
    background-image: url("../images/g2260.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.box2 {
    right: 12vw;
    width: 38px;
    height: 80px;
    position: absolute;
}

.profile,
.menu {
    width: 38px;
    height: 38px;
    position: absolute;
    margin: 20px 0px;
    cursor: pointer;
}

.profile {
    border-radius: 50%;
    background-image: url("../images/Layer\ 2.svg");
    background-repeat: no-repeat;
}

.menu {
    background-image: url("../images/2561466_menu_icon.svg");
    background-repeat: no-repeat;
    left: 60px;
}

.wakansiya {
    width: 750px;
    height: 272px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 7px #0000001A;
    position: relative;
    top: 227px;
    left: 30vw;
}

.close {
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

.content {
    position: absolute;
    top: 49px;
    left: 59px;
    width: 632px;
    height: 142px;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.035em;
}

.delete {
    position: absolute;
    bottom: 28px;
    left: 41px;
    width: 321px;
    height: 40px;
    text-align: center;
    border-radius: 33px;
    background: #FF000080;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding-top: 13px;
    cursor: pointer;
}

.cancel {
    position: absolute;
    bottom: 28px;
    right: 40px;
    width: 321px;
    height: 40px;
    text-align: center;
    border-radius: 33px;
    background: #F0F0F0;
    color: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    font-weight: 500;
    padding-top: 13px;
    cursor: pointer;
}