<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

   <link rel="stylesheet" href="../../main.css">
   <title>RegistrationEmployeeFinish</title>
</head>

<body>
   <div class="container__main pad-0 w-1920">
      <header class="header-wavy">
         <div class="container__content header-wavy__inner">
            <img src="../../src/images/header/Ishim__logo.png" alt="" class="header__pic">
            <div class="header__loc">
               <form action="">
                  <select name="interface__lang" id=""
                     onchange="window.location.href=this.options[this.selectedIndex].value">
                     <option value="RU" class="header__loc__current">RU</option>
                     <option value="TM" class="header__loc__current">TM</option>
                  </select>
               </form>
            </div>
         </div>
      </header>

      <div class="reg-f container__content">
         <div class="reg-f__inner m-0auto">
            <h1 class="reg-f__title">
               Вы успешно зарегестрированы!
               Создайте резюме и разместите его для поиска работы, чтобы работадатели могли увидеть и связаться с вами
            </h1>

            <a href="" class="reg-f__green-btn m-0auto">
               Создать резюме
            </a>
            <a href="" class="reg-f__not-now-btn m-0auto">
               Не сейчас
            </a>
         </div>
      </div>
   </div>
</body>

</html>