<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="../main.css">
      <title>My vacancy</title>
   </head>
   <body>
      <div class="container__main pad-0 w-1920">
         <header class="header">
            <div class="container__content">
               <div class="header__content">         
                  <section class="header__sec__type3 ">
                     <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic ">
                     
                  </section>
                  <section class="header__sec__type3">
                     <form action="">
                        <div class="nav">
                           <img src="../src/images/search__ic.svg" alt="Sorry">
                              <input type="text" class="nav__inp" placeholder="Профессия, должность или ключевые слова">
                              <input type="text" class="nav__inp__small" placeholder="Профессия">
                        </div>
<a href="">
    <img src="../src/images/nav__setting.png" 
     alt="Sorry" class="nav__set__pic">
</a>
                     </form>
                  </section>
   
                  <section class="header__sec__type3">
                     <a href="" class="header__user__pic">
                        <img src="../src/images/user__def__ic.png" alt="Sorry">
                     </a>
                     <button class="hamburger hamburger-line">
                        <span></span>
                     </button>
                  </section>
               </div>
            </div>
         </header>
         <div class="container__content">
            <div class="nav__burger disappear">
               <h1 class="nav__title">Меню</h1>
      
               <a href="" class="nav__link">Каталог компаний</a>
      
               <a href="" class="nav__link">Статьи</a>
   
               <select name="interface__lang" onchange="window.location.href=this.options[this.selectedIndex].value" class="nav__link">
                  <option selected disabled hidden class="header__loc__current">Язык</option>
                  <option value="" class="header__loc__current">RU</option>
                  <option value="" class="header__loc__current">TM</option>
               </select>
   
               <a href="" class="nav__link">История поиска</a>
      
               <a href="" class="nav__link">Условия использования и политика конфиденциальности</a>
      
               <a href="" class="nav__link">Связаться с нами</a>
            </div>
         </div>
         <div class="priv__data mt-60">
            <div class="container__content">
               <div class="priv__data__inner">
                  <h1 class="priv__data__title">Личные данные</h1>

                  <div class="priv__data__item">
                     <div>Имя Фамилия</div>
                     <div>Азат Баймурадов</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Дата рождения</div>
                     <div>6 августа 1995 </div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Электронная почта</div>
                     <div>azadb@gmail.com</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Мобильный телефон</div>
                     <div>+99363227799</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Пароль</div>
                     <div>xdg3676</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Место проживания</div>
                     <div>г. Байрамали, Мары</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item__action">Удаление</div>

               </div>
            </div> 
         </div>
      </div>
      <script src="../scripts/header.js"></script>
</body>
</html>