<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="../main.css">
   <title>My favourites vacancies</title>
</head>

<body>
   <svg display="none">
      <symbol id="favorites__str" viewBox="0 0 28 27">
         <g>
            <path
               d="M14 1L18.017 9.13603L27 10.4487L20.5 16.7782L22.034 25.72L14 21.496L5.966 25.72L7.5 16.7782L1 10.4487L9.983 9.13603L14 1Z"
               stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
         </g>
      </symbol>
   </svg>

   <svg display="none">
      <symbol id="bookmark" viewBox="0 0 19 24">
         <g>
            <path
               d="M18 22.85L9.5 16.7806L1 22.85V3.42778C1 2.78389 1.25587 2.16638 1.71131 1.71108C2.16676 1.25578 2.78447 1 3.42857 1H15.5714C16.2155 1 16.8332 1.25578 17.2887 1.71108C17.7441 2.16638 18 2.78389 18 3.42778V22.85Z"
               stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
         </g>
      </symbol>
   </svg>
   <div class="container__main pad-0 w-1920">
      <header class="header">
         <div class="container__content">
            <div class="header__content">
               <section class="header__sec__type3 ">
                  <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic ">

               </section>
               <section class="header__sec__type3">
                  <form action="">
                     <div class="nav">
                        <button type="submit" name="search_btn">
                           <img src="../src/images/search__ic.svg" alt="Sorry">
                        </button>
                        <input type="text" class="nav__inp" placeholder="Профессия, должность или ключевые слова">
                        <input type="text" class="nav__inp__small" placeholder="Профессия">
                     </div>
                     <a href="">
                        <img src="../src/images/nav__setting.png" alt="Sorry" class="nav__set__pic">
                     </a>
                  </form>
               </section>

               <section class="header__sec__type3">
                  <div class="header__user__pic__wrap">
                     <img src="../src/images/user__def__ic.png" alt="Sorry" class="header__user__pic">
                  </div>
                  <button class="hamburger hamburger-line">
                     <span></span>
                  </button>
               </section>
            </div>
         </div>
      </header>
      <div class="container__content">
         <div class="nav__burger disappear">
            <h1 class="nav__title">Меню</h1>

            <a href="" class="nav__link">Каталог компаний</a>

            <a href="" class="nav__link">Статьи</a>

            <select name="interface__lang" onchange="window.location.href=this.options[this.selectedIndex].value"
               class="nav__link">
               <option selected disabled hidden class="header__loc__current">Язык</option>
               <option value="" class="header__loc__current">RU</option>
               <option value="" class="header__loc__current">TM</option>
            </select>

            <a href="" class="nav__link">История поиска</a>

            <a href="" class="nav__link">Условия использования и политика конфиденциальности</a>

            <a href="" class="nav__link">Связаться с нами</a>
         </div>
      </div>
      <div class="container__content">
         <div class="h__fav">
            <section class="h__fav__top">
               <h1 class="h__fav__top__title">Избранное</h1>

               <span class="h__fav__top__cat gren__color" id="vac_fav">Вакансии</span>
               <span class="h__fav__top__cat" id="articles_fav">Статьи</span>
            </section>

            <div class="h__fav__top__row"></div>
            <section class="vac__card__wrapper" id="fav__btn__wrapper">
               <div class="vacancy__card">
                  <div class="vac__card__inner">
                     <div class="vac__heading">
                        <h2 class="vac__heading__item">Помощник Бухгалтера</h2>
                        <h2 class="vac__heading__item">2000 манат</h2>
                     </div>
                     <div class="vac__heading">
                        <h2 class="vac__heading__item">22:04</h2>
                        <svg width="26px" height="24px">
                           <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico" data-link="">
                           </use>
                        </svg>
                     </div>
                     <div class="vac__categories">
                        <span class="vac__cat__item two-col">Бухгалтерия и управление</span>
                        <span class="vac__cat__item">Ашхабад</span>
                        <span class="vac__cat__item">Опыт 5 лет</span>
                        <span class="vac__cat__item">28 лет</span>
                        <span class="vac__cat__item">Пол мужской</span>
                        <span class="vac__cat__item two-col">Образование среднее</span>
                     </div>

                     <div class="vac__btns">
                        <a href="" class="vac__btns__item purp__btn" target="_blank">Подробнее</a>
                        <a href="" class="vac__btns__item green__btn" target="_blank">Получить контакты</a>
                     </div>
                  </div>
               </div>
            </section>



            <section class="disappear" id="fav__wrapper2">
               <div class="fav__article">
                  <div class="fav__article__section">
                     <img src="../src/images/article__fav__pic.png" alt="" class="fav__article__pic">
                  </div>

                  <div class="fav__article__section" id="article__btn__wrapper">
                     <div class="fav__article__section__top">
                        <a href="" class="article__subtitle">Билл Гейтс
                           предупредил
                           о чем-то</a>
                        <svg width="19" height="24">
                           <use xlink:href="#bookmark" width="19" height="24" class="vac__ico" id="bookmarkbtn"
                              data-link=""></use>
                        </svg>
                     </div>
                     <div class="fav__article__section__bottom">
                        <div>200</div>
                        <div>28.07.2021</div>
                     </div>
                  </div>
               </div>
            </section>

         </div>
      </div>

      <footer class="footer">
         <div class="container__content">
            <section class="footer__inner">
               <div class="footer__content">
                  <div class="footer__item">

                     <img src="../src/images/header/Ishim__logo.png" alt="" class="footer__pic">

                     <a href="" class="footer__text">О нас</a>
                     <a href="" class="footer__text">Каталог компаний</a>
                     <span href="mailto:ishim.tm@gmail.com" class="footer__text">ishim.tm@gmail.com</span>

                     <div class="footer__row"></div>

                     <span class="footer__text">Все права защищены</span>

                  </div>

                  <div class="footer__item">

                     <div class="footer__social">
                        <img src="../src/images/footer/facebook__icon.svg" alt="facebook logo"
                           class="footer__social__pic">
                        <img src="../src/images/footer/instagram__icon.svg" alt="instagram logo"
                           class="footer__social__pic">
                        <img src="../src/images/footer/imo__icon.svg" alt="imo logo" class="footer__social__pic">
                     </div>

                     <span class="footer__text">На сайте</span>
                     <span class="footer__text">1000 вакансий</span>
                     <span class="footer__text">2000 резюме</span>
                     <span class="footer__text">103 компаний и</span>
                     <span class="footer__text">работодателей</span>

                  </div>
               </div>
            </section>
         </div>
      </footer>
   </div>


   <script src="../scripts/header.js"></script>
   <script src="../scripts/favourtie.js"></script>
   <script src="../scripts/empl_fav.js"></script>
   <script src="../scripts/fav_art.js"></script>

</body>

</html>