<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="../main.css">
   <title>My vacancies</title>
</head>

<body>
   <svg display="none">
      <symbol id="favorites__str" viewBox="0 0 28 27">
         <g>
            <path
               d="M14 1L18.017 9.13603L27 10.4487L20.5 16.7782L22.034 25.72L14 21.496L5.966 25.72L7.5 16.7782L1 10.4487L9.983 9.13603L14 1Z"
               stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
         </g>
      </symbol>
   </svg>

   <svg display="none">
      <symbol id="refresh" viewBox="0 0 24 24" width="30px" height="30px">
         <g>
            <path
               d="M12,2a10.032,10.032,0,0,1,7.122,3H16a1,1,0,0,0-1,1h0a1,1,0,0,0,1,1h4.143A1.858,1.858,0,0,0,22,5.143V1a1,1,0,0,0-1-1h0a1,1,0,0,0-1,1V3.078A11.981,11.981,0,0,0,.05,10.9a1.007,1.007,0,0,0,1,1.1h0a.982.982,0,0,0,.989-.878A10.014,10.014,0,0,1,12,2Z" />
            <path
               d="M22.951,12a.982.982,0,0,0-.989.878A9.986,9.986,0,0,1,4.878,19H8a1,1,0,0,0,1-1H9a1,1,0,0,0-1-1H3.857A1.856,1.856,0,0,0,2,18.857V23a1,1,0,0,0,1,1H3a1,1,0,0,0,1-1V20.922A11.981,11.981,0,0,0,23.95,13.1a1.007,1.007,0,0,0-1-1.1Z" />
         </g>
      </symbol>
   </svg>

   <div class="container__main pad-0 w-1920">
      <header class="header">
         <div class="container__content">
            <div class="header__content">
               <section class="header__sec__type3 ">
                  <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic ">

               </section>
               <section class="header__sec__type3">
                  <form action="">
                     <div class="nav">
                        <button type="submit" name="search_btn">
                           <img src="../src/images/search__ic.svg" alt="Sorry">
                        </button>
                        <input type="text" class="nav__inp" placeholder="Профессия, должность или ключевые слова">
                        <input type="text" class="nav__inp__small" placeholder="Профессия">
                     </div>
                     <a href="">
                        <img src="../src/images/nav__setting.png" alt="Sorry" class="nav__set__pic">
                     </a>
                  </form>
               </section>

               <section class="header__sec__type3">
                  <div class="header__user__pic__wrap">
                     <img src="../src/images/user__def__ic.png" alt="Sorry" class="header__user__pic">
                  </div>
                  <button class="hamburger hamburger-line">
                     <span></span>
                  </button>
               </section>
            </div>
         </div>
      </header>
      <div class="container__content">
         <div class="nav__burger disappear">
            <h1 class="nav__title">Меню</h1>

            <a href="" class="nav__link">Каталог компаний</a>

            <a href="" class="nav__link">Статьи</a>

            <select name="interface__lang" onchange="window.location.href=this.options[this.selectedIndex].value"
               class="nav__link">
               <option selected disabled hidden class="header__loc__current">Язык</option>
               <option value="" class="header__loc__current">RU</option>
               <option value="" class="header__loc__current">TM</option>
            </select>

            <a href="" class="nav__link">История поиска</a>

            <a href="" class="nav__link">Условия использования и политика конфиденциальности</a>

            <a href="" class="nav__link">Связаться с нами</a>
         </div>
      </div>
      <div class="result mt-60">
         <div class="container__content">
            <div class="result__inner">
               <aside class="res__slbar">
                  <div class="res__slbar__inner">
                     <div class="res__slbar__content">
                        <div class="res__slbar__item">
                           <p class="res__slbar__item__title">Регион</p>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">Ашхабад</span>
                              <span class="res__slbar__right-p">1070</span>
                           </div>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">Балканы</span>
                              <span class="res__slbar__right-p">805</span>
                           </div>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">Мары</span>
                              <span class="res__slbar__right-p">501</span>
                           </div>
                        </div>

                        <div class="res__slbar__item">
                           <p class="res__slbar__item__title">Требуют зарплату</p>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">от 1000</span>
                              <span class="res__slbar__right-p">915</span>
                           </div>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">от 2000</span>
                              <span class="res__slbar__right-p">823</span>
                           </div>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">от 3000</span>
                              <span class="res__slbar__right-p">528</span>
                           </div>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">от 5000</span>
                              <span class="res__slbar__right-p">177</span>
                           </div>
                        </div>

                        <div class="res__slbar__item">
                           <p class="res__slbar__item__title">Отрасли</p>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">Бугалтерия</span>
                              <span class="res__slbar__right-p">957</span>
                           </div>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">IT,интернет</span>
                              <span class="res__slbar__right-p">816</span>
                           </div>
                           <div class="res__slbar__item__section">
                              <span class="res__slbar__left-p">Продажи</span>
                              <span class="res__slbar__right-p">512</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="res__slbar__learn-more">
                     <div class="res__slbar__learn-more__inner">
                        <h2 class="res__slbar__learn-more__title">Статьи</h2>
                        <div class="res__slbar__learn-more__item">
                           <img src="#" alt="Sorry" class="l-m__pic">
                           <p class="l-m__txt">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rem
                           </p>
                        </div>
                        <div class="res__slbar__learn-more__item">
                           <img src="#" alt="Sorry" class="l-m__pic">
                           <p class="l-m__txt">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rem
                           </p>
                        </div>
                        <div class="res__slbar__learn-more__item">
                           <img src="#" alt="Sorry" class="l-m__pic">
                           <p class="l-m__txt">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rem
                           </p>
                        </div>
                     </div>
                  </div>
               </aside>

               <section class="result__vacancy" id="fav__btn__wrapper">
                  <div id="result__vacancy__inner">
                     <div class="vacancy__card">
                        <div class="vac__card__inner">
                           <div class="vac__heading">
                              <h2 class="vac__heading__item">Помощник Бухгалтера</h2>
                              <h2 class="vac__heading__item">2000 манат</h2>
                           </div>
                           <div class="vac__heading">
                              <h2 class="vac__heading__item">22:04</h2>
                              <svg width="26px" height="24px">
                                 <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico"
                                    data-link=""></use>
                              </svg>
                           </div>
                           <div class="vac__categories">
                              <span class="vac__cat__item two-col">Бухгалтерия и управление</span>
                              <span class="vac__cat__item">Ашхабад</span>
                              <span class="vac__cat__item">Опыт 5 лет</span>
                              <span class="vac__cat__item">28 лет</span>
                              <span class="vac__cat__item">Пол мужской</span>
                              <span class="vac__cat__item two-col">Образование среднее</span>
                           </div>

                           <div class="vac__btns">
                              <a href="" class="vac__btns__item purp__btn" target="_blank">Подробнее</a>
                              <a href="" class="vac__btns__item green__btn" target="_blank">Получить контакты</a>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="refresh__btn__wrapper" id="refresh__btn__wrapper">
                     <svg class="refresh__btn">
                        <use xlink:href="#refresh" class="refresh__btn"></use>
                     </svg>
                     <span>Посмотреть ещё</span>
                  </div>
               </section>
            </div>
         </div>
      </div>

      <footer class="footer">
         <div class="container__content">
            <section class="footer__inner">
               <div class="footer__content">
                  <div class="footer__item">

                     <img src="../src/images/header/Ishim__logo.png" alt="" class="footer__pic">

                     <a href="" class="footer__text">О нас</a>
                     <a href="" class="footer__text">Каталог компаний</a>
                     <span href="mailto:ishim.tm@gmail.com" class="footer__text">ishim.tm@gmail.com</span>

                     <div class="footer__row"></div>

                     <span class="footer__text">Все права защищены</span>

                  </div>

                  <div class="footer__item">

                     <div class="footer__social">
                        <img src="../src/images/footer/facebook__icon.svg" alt="facebook logo"
                           class="footer__social__pic">
                        <img src="../src/images/footer/instagram__icon.svg" alt="instagram logo"
                           class="footer__social__pic">
                        <img src="../src/images/footer/imo__icon.svg" alt="imo logo" class="footer__social__pic">
                     </div>

                     <span class="footer__text">На сайте</span>
                     <span class="footer__text">1000 вакансий</span>
                     <span class="footer__text">2000 резюме</span>
                     <span class="footer__text">103 компаний и</span>
                     <span class="footer__text">работодателей</span>
                  </div>
               </div>
            </section>
         </div>
      </footer>
   </div>

   <script src="../scripts/header.js"></script>
   <script src="../scripts/favourtie.js"></script>
   <script src="scripts/download_vacancies.js"></script>

</body>

</html>