<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="../main.css">
      <title>My Resume page</title>
   </head>
   <body>
      <div class="container__main pad-0 w-1920">
         <header class="header">
            <div class="container__content">
               <div class="header__content">         
                  <section class="header__sec__type3 ">
                     <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic ">
                     
                  </section>
                  <section class="header__sec__type3">
                     <form action="">
                        <div class="nav">
                           <img src="../src/images/search__ic.svg" alt="Sorry">
                              <input type="text" class="nav__inp" placeholder="Профессия, должность или ключевые слова">
                              <input type="text" class="nav__inp__small" placeholder="Профессия">
                        </div>
<a href="">
    <img src="../src/images/nav__setting.png" 
     alt="Sorry" class="nav__set__pic">
</a>
                     </form>
                  </section>
   
                  <section class="header__sec__type3">
                     <a href="" class="header__user__pic">
                        <img src="../src/images/user__def__ic.png" alt="Sorry">
                     </a>
                     <button class="hamburger hamburger-line">
                        <span></span>
                     </button>
                  </section>
               </div>
            </div>
         </header>
         <div class="container__content">
            <div class="nav__burger disappear">
               <h1 class="nav__title">Меню</h1>
      
               <a href="" class="nav__link">Каталог компаний</a>
      
               <a href="" class="nav__link">Статьи</a>
   
               <select name="interface__lang" onchange="window.location.href=this.options[this.selectedIndex].value" class="nav__link">
                  <option selected disabled hidden class="header__loc__current">Язык</option>
                  <option value="" class="header__loc__current">RU</option>
                  <option value="" class="header__loc__current">TM</option>
               </select>
   
               <a href="" class="nav__link">История поиска</a>
      
               <a href="" class="nav__link">Условия использования и политика конфиденциальности</a>
      
               <a href="" class="nav__link">Связаться с нами</a>
            </div>
         </div>
         <div class="container__content">
            <div class="my__vac__view">
               <h1 class="mvv__headline">Моё резюме</h1>
               <h3 class="mvv__subtitle">Максат Фархатов</h3>
               <span class="mvv__main__info">Мужчина, 30 лет</span>
               <span class="mvv__main__info">Стаж работы 4 года</span>
               <span class="mvv__main__info">г. Ашхабад</span>
               <span class="mvv__main__info">+99363223334</span>
               <span class="mvv__main__info">maksatft@gmail.com</span>
               <span class="mvv__main__info">Опубликовано в 16:42</span>
               <span class="mvv__main__info">27 просмотров</span>
               <button class="mvv__refresh__in__search__btn green__btn">Обновить в поиске</button>
               <a href="" class="mvv__edit__btn purp__btn">Редактировать</a>
               <h4 class="mvv__subtitle">Главный бухгалтер
               </h4>
               <p class="mvv__info">
                  <span>Бухгалтерия, финансы предприятия</span>
                  
                  <span>График работы: Сменный график</span>
                
                  <span>Пол: не имеет значения</span>
                  
                  <span>Занятость:  Полная занятость</span>
               </p>
               <h4 class="mvv__subtitle">Опыт работы</h4>
               <p class="mvv__info">
                  <span>Помощник бухгалтера</span>
                  
                  <span>Организация ABC Holdings, г. Ашхабад</span>
                  
                  <span>Март 2020 - Ноябрь 2021</span>
               </p>
               <h4 class="mvv__subtitle">Обязанности:</h4>
               <p class="mvv__info">
                  Работа с первичными документами.
                  Подготовка управленческой отчетности.
                  Работа с банковскими счетами организации, которая заключается в выверке и разнесении информации по бухгалтерским счетам.
                  Составление и предоставление платежных поручений в банк.
               </p>
               <h4 class="mvv__subtitle">Образование
               </h4>
               <p class="mvv__info">
                  <span>
                     Высшее образование
                  </span>
                  
                  <span>Международный Университет Гуманитарных Наук и Развития, г. Ашхабад</span>
                  
                  <span>Сентябрь 2015 - Июль 2020</span>

                  <span>Факультет: Международная экономика</span>

                  <span>Специальность: Экономист</span>

               </p>
               <h4 class="mvv__subtitle">Знание программ</h4>
               <p class="mvv__info">
                  <span>- 1C</span>
                  
                  <span>- MS Office</span>
               </p>
               <h4 class="mvv__subtitle">Владение языками</h4>
               <p class="mvv__info">
                  <span>Русский - в совершенстве</span>
                  
                  <span>Туркменский - базовый</span>
               </p>

               <h4 class="mvv__subtitle">О себе</h4>
               <p class="mvv__info">
                  Разработала систему ведения учёта, снизившую налогообложение прибыли на 10-15%.
                  Автоматизировала учёт и отчётность на базе пакета 1С:Предприятие 7.7.
                  Навыки ведения бухгалтерского учёта (ОСНО и УСН).
                  Опыт сдачи отчётности в налоговую инспекцию.
                  Опыт работы с программами: 1С 7.7 Комплексная бухгалтерия, 1С 8.3 (Бухгалтерия, Зарплата, Управление торговлей, Налогоплательщик), Парус-Бухгалтерия, Консультант+, Клиент-Банк. Microsoft Office — уверенный пользователь.
               </p>
              
               <button class="mvv__delete__btn">Удалить</button>
            </div>
         </div>    
      </div>
      <script src="../scripts/header.js"></script>
</body>
</html>