<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="../main.css">
      <title>My vacancies</title>
   </head>
   <body>
      <svg display="none">
         <symbol id="favorites__str" viewBox="0 0 28 27">
            <g>
               <path d="M14 1L18.017 9.13603L27 10.4487L20.5 16.7782L22.034 25.72L14 21.496L5.966 25.72L7.5 16.7782L1 10.4487L9.983 9.13603L14 1Z" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
         </symbol>
      </svg>
      <div class="container__main pad-0 w-1920">
         <header class="header-wavy">
            <div class="container__content header-wavy__inner">
               <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic">
               <div class="header__loc">
                  <form action="">
                     <select name="interface__lang" id="">
                        <option value="RU" class="header__loc__current">RU</option>
                        <option value="TM" class="header__loc__current">TM</option>
                     </select>
                  </form>
               </div>
            </div>
         </header>
         <div class="result mt-60">
            <div class="container__content">
               <div class="result__inner">
                  <aside class="res__slbar">
                     <div class="res__slbar__inner">
                        <div class="res__slbar__content">
                           <div class="res__slbar__item">
                              <p class="res__slbar__item__title">Регион</p>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">Ашхабад</span>
                                 <span class="res__slbar__right-p">1070</span>
                              </div>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">Балканы</span>
                                 <span class="res__slbar__right-p">805</span>
                              </div>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">Мары</span>
                                 <span class="res__slbar__right-p">501</span>
                              </div>
                           </div>
         
                           <div class="res__slbar__item">
                              <p class="res__slbar__item__title">Требуют зарплату</p>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">от 1000</span>
                                 <span class="res__slbar__right-p">915</span>
                              </div>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">от 2000</span>
                                 <span class="res__slbar__right-p">823</span>
                              </div>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">от 3000</span>
                                 <span class="res__slbar__right-p">528</span>
                              </div>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">от 5000</span>
                                 <span class="res__slbar__right-p">177</span>
                              </div>
                           </div>
         
                           <div class="res__slbar__item">
                              <p class="res__slbar__item__title">Отрасли</p>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">Бугалтерия</span>
                                 <span class="res__slbar__right-p">957</span>
                              </div>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">IT,интернет</span>
                                 <span class="res__slbar__right-p">816</span>
                              </div>
                              <div class="res__slbar__item__section">
                                 <span class="res__slbar__left-p">Продажи</span>
                                 <span class="res__slbar__right-p">512</span>
                              </div>
                           </div>
         
                           <div class="">
                              <div class="">Опыт работы</div>      
                              <div class="">Возраст</div>      
                              <div class="">Образование</div>      
                              <div class="">Тип занятости</div>  
                              <div class="">График работы</div>   
                              <div class="">Владение языками</div>
                           </div>
                        </div>
                     </div>
                        <div class="res__slbar__learn-more">
                           <div class="res__slbar__learn-more__inner">
                              <h2 class="res__slbar__learn-more__title">Статьи</h2>
                              <div class="res__slbar__learn-more__item">
                                 <img src="#" alt="Sorry" class="l-m__pic">
                                 <p class="l-m__txt">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rem 
                                 </p>
                              </div>
                              <div class="res__slbar__learn-more__item">
                                 <img src="#" alt="Sorry" class="l-m__pic">
                                 <p class="l-m__txt">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rem 
                                 </p>
                              </div>
                              <div class="res__slbar__learn-more__item">
                                 <img src="#" alt="Sorry" class="l-m__pic">
                                 <p class="l-m__txt">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rem 
                                 </p>
                              </div>
                           </div>
                        </div>
                  </aside>
   
                  <section class="result__vacancy">
                     <div class="result__vacancy__srt-by">
                        <div class="sr-by__btn">Соритровать по соответстию</div>
                        <!-- checkMarkPic -->
                     </div>
                     
                     <div class="vacancy__card">
                        <div class="vac__card__inner">
                         <div class="vac__heading">
                            <h2 class="vac__heading__item">Помощник Бухгалтера</h2>
                            <h2 class="vac__heading__item">2000 манат</h2>
                         </div>
                         <div class="vac__heading">
                            <h2 class="vac__heading__item">22:04</h2>
                            <svg width="26px" height="24px">
                              <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico"></use>
                           </svg>
                         </div>
                         <div class="vac__categories">
                            <span class="vac__cat__item two-col">Бухгалтерия и управление</span>
                            <span class="vac__cat__item">Ашхабад</span>
                            <span class="vac__cat__item">Опыт 5 лет</span>
                            <span class="vac__cat__item">28 лет</span>
                            <span class="vac__cat__item">Пол мужской</span>
                            <span class="vac__cat__item two-col">Образование среднее</span>
                         </div>
    
                         <div class="vac__btns">
                           <form action="" target="_blank">
                              <button class="vac__btns__item purp__btn">
                                 Подробнее
                              </button>
                           </form>
                           <form action="" target="_blank">
                              <button class="vac__btns__item green__btn m-0">
                                 Получить контакты
                              </button>
                           </form>
                         </div>
                        </div>
                     </div>
   
                     <div class="vacancy__card">
                        <div class="vac__card__inner">
                         <div class="vac__heading">
                            <h2 class="vac__heading__item">Помощник Бухгалтера</h2>
                            <h2 class="vac__heading__item">2000 манат</h2>
                         </div>
                         <div class="vac__heading">
                            <h2 class="vac__heading__item">22:04</h2>
                            <svg width="26px" height="24px">
                              <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico"></use>
                           </svg>
                         </div>
                         <div class="vac__categories">
                            <span class="vac__cat__item two-col">Бухгалтерия и управление</span>
                            <span class="vac__cat__item">Ашхабад</span>
                            <span class="vac__cat__item">Опыт 5 лет</span>
                            <span class="vac__cat__item">28 лет</span>
                            <span class="vac__cat__item">Пол мужской</span>
                            <span class="vac__cat__item two-col">Образование среднее</span>
                         </div>
    
                         <div class="vac__btns">
                           <form action="" target="_blank">
                              <button class="vac__btns__item purp__btn">
                                 Подробнее
                              </button>
                           </form>
                           <form action="" target="_blank">
                              <button class="vac__btns__item green__btn m-0">
                                 Получить контакты
                              </button>
                           </form>
                         </div>
                        </div>
                     </div>
   
                     <div class="vacancy__card">
                        <div class="vac__card__inner">
                         <div class="vac__heading">
                            <h2 class="vac__heading__item">Помощник Бухгалтера</h2>
                            <h2 class="vac__heading__item">2000 манат</h2>
                         </div>
                         <div class="vac__heading">
                            <h2 class="vac__heading__item">22:04</h2>
                            <svg width="26px" height="24px">
                              <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico"></use>
                           </svg>
                         </div>
                         <div class="vac__categories">
                            <span class="vac__cat__item two-col">Бухгалтерия и управление</span>
                            <span class="vac__cat__item">Ашхабад</span>
                            <span class="vac__cat__item">Опыт 5 лет</span>
                            <span class="vac__cat__item">28 лет</span>
                            <span class="vac__cat__item">Пол мужской</span>
                            <span class="vac__cat__item two-col">Образование среднее</span>
                         </div>
    
                         <div class="vac__btns">
                           <form action="" target="_blank">
                              <button class="vac__btns__item purp__btn">
                                 Подробнее
                              </button>
                           </form>
                           <form action="" target="_blank">
                              <button class="vac__btns__item green__btn m-0">
                                 Получить контакты
                              </button>
                           </form>
                         </div>
                        </div>
                     </div>
   
                     <div class="vacancy__card">
                        <div class="vac__card__inner">
                         <div class="vac__heading">
                            <h2 class="vac__heading__item">Помощник Бухгалтера</h2>
                            <h2 class="vac__heading__item">2000 манат</h2>
                         </div>
                         <div class="vac__heading">
                            <h2 class="vac__heading__item">22:04</h2>
                            <svg width="26px" height="24px">
                              <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico"></use>
                           </svg>
                         </div>
                         <div class="vac__categories">
                            <span class="vac__cat__item two-col">Бухгалтерия и управление</span>
                            <span class="vac__cat__item">Ашхабад</span>
                            <span class="vac__cat__item">Опыт 5 лет</span>
                            <span class="vac__cat__item">28 лет</span>
                            <span class="vac__cat__item">Пол мужской</span>
                            <span class="vac__cat__item two-col">Образование среднее</span>
                         </div>
    
                         <div class="vac__btns">
                           <form action="" target="_blank">
                              <button class="vac__btns__item purp__btn">
                                 Подробнее
                              </button>
                           </form>
                           <form action="" target="_blank">
                              <button class="vac__btns__item green__btn m-0">
                                 Получить контакты
                              </button>
                           </form>
                         </div>
                        </div>
                     </div>
                  </section>
               </div>
            </div>
         </div> 
      </div>

</body>
</html>