<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="../main.css">
      <title>My vacancy</title>
   </head>
   <body>
      <div class="container__main pad-0 w-1920">
         <header class="header-wavy">
            <div class="container__content header-wavy__inner">
               <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic">
               <div class="header__loc">
                  <form action="">
                     <select name="interface__lang" id="">
                        <option value="RU" class="header__loc__current">RU</option>
                        <option value="TM" class="header__loc__current">TM</option>
                     </select>
                  </form>
               </div>
            </div>
         </header>
         <div class="priv__data mt-60">
            <div class="container__content">
               <div class="priv__data__inner">
                  <h1 class="priv__data__title">Личные данные</h1>

                  <div class="priv__data__item">
                     <div>Название</div>
                     <div>ABC company</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Сфера деятельности</div>
                     <div>Строительство</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Электронная почта</div>
                     <div>azadb@gmail.com</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Мобильный телефон</div>
                     <div>+99363227799</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Пароль</div>
                     <div>xdg3676</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item">
                     <div>Место проживания</div>
                     <div>г. Байрамали, Мары</div>

                     <div class="priv__data__item__action">изменить</div>
                  </div>

                  <div class="priv__data__item__action">Удаление</div>

               </div>
            </div> 
         </div>
      </div>

</body>
</html>