<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="../main.css">
      <title>My vacancy</title>
   </head>
   <body>
      <svg display="none">
         <symbol id="favorites__str" viewBox="0 0 28 27">
            <g>
               <path d="M14 1L18.017 9.13603L27 10.4487L20.5 16.7782L22.034 25.72L14 21.496L5.966 25.72L7.5 16.7782L1 10.4487L9.983 9.13603L14 1Z" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
         </symbol>
      </svg>
      <div class="container__main pad-0 w-1920">
         <header class="header-wavy">
            <div class="container__content header-wavy__inner">
               <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic">
               <div class="header__loc">
                  <form action="">
                     <select name="interface__lang" id="">
                        <option value="RU" class="header__loc__current">RU</option>
                        <option value="TM" class="header__loc__current">TM</option>
                     </select>
                  </form>
               </div>
            </div>
         </header>
         <div class="container__content">
            <div class="my__vac__view">
               <h1 class="mvv__headline">Профессия</h1>
               <h3 class="mvv__salary">Максат Фархатов</h3>
               <span class="mvv__main__info">Мужчина,  30 лет</span>
               <span class="mvv__main__info">Стаж 4 года</span>
               <span class="mvv__main__info">г. Ашхабад</span>
               
               <div class="mvv__refresh__in__search__btn__wrapper">
                  <button class="mvv__refresh__in__search__btn green__btn">Получить контакты</button> 
                  <svg width="30px" height="30px">
                     <use xlink:href="#favorites__str" width="30px" height="30px" class="vac__ico"></use>
                  </svg>
               </div>
      
               <h4 class="mvv__subtitle">Профессия
                  <span>2000 м</span>
               </h4>
               <p class="mvv__info">
                  <span>Бухгалтерия, финансы предприятия</span>
                  
                  <span>График работы: Сменный график</span>
                
                  <span>Занятость:  Полная занятость</span>
               </p>
               <h4 class="mvv__subtitle">Опыт работы</h4>
               <p class="mvv__info">
                  <span>Помощник бухгалтера</span>
                  
                  <span>Организация ABC Holdings, г. Ашхабад</span>
                  
                  <span>Март 2020 - Ноябрь 2021</span>

                  <span>Обязанности: <br>
                     Работа с первичными документами.
                     Подготовка управленческой отчетности.
                     Работа с банковскими счетами организации, которая заключается в выверке и разнесении информации по бухгалтерским счетам.
                     Составление и предоставление платежных поручений в банк.</span>
               </p>
               <h4 class="mvv__subtitle">Помощник бухгалтера</h4>
               <p class="mvv__info">
                  <span>Организация ABC Компания,  Балкан, г. Туркменбаши</span>
                  
                  <span>Сентябрь 2020 -  по настоящее время</span>
                  
                  <span>Обязанности: <br>
                     Работа с первичными документами.
                     Подготовка управленческой отчетности.
                     Работа с банковскими счетами организации, которая заключается в выверке и разнесении информации по бухгалтерским счетам.
                     Составление и предоставление платежных поручений в банк.</span>
               </p>
               <h4 class="mvv__subtitle">Образование</h4>
               <p class="mvv__info">
                  <span>Высшее образование</span>
                  
                  <span>Международный Университет Гуманитарных Наук и Развития, г. Ашхабад</span>
                
                  <span>Сентябрь 2015 - Июль 2020</span>

                  <span>Факультет: Международная экономика</span>

                  <span>Специальность: Экономист</span>

               </p>
               <h4 class="mvv__subtitle">Знание программ</h4>
               <p class="mvv__info">
                  <span>- 1С</span>
                  
                  <span>- MS Office</span>
               </p>
               <h4 class="mvv__subtitle">Владение языками</h4>
               <p class="mvv__info">
                  <span>Русский - в совершенстве</span>
                  
                  <span>Туркменский - базовый</span>
               </p>
               <h4 class="mvv__subtitle">О себе</h4>
               <p class="mvv__info">
                  Разработала систему ведения учёта, снизившую налогообложение прибыли на 10-15%.
                  Автоматизировала учёт и отчётность на базе пакета 1С:Предприятие 7.7.
                  Навыки ведения бухгалтерского учёта (ОСНО и УСН).
                  Опыт сдачи отчётности в налоговую инспекцию.
                  Опыт работы с программами: 1С 7.7 Комплексная бухгалтерия, 1С 8.3 (Бухгалтерия, Зарплата, Управление торговлей, Налогоплательщик), Парус-Бухгалтерия, Консультант+, Клиент-Банк. Microsoft Office — уверенный пользователь.
               </p>

               
               
            </div>
         </div>    
      </div>

</body>
</html>