<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="../main.css">
      <title>My vacancies</title>
   </head>
   <body>
      <div class="container__main pad-0 w-1920">
         <header class="header-wavy">
            <div class="container__content header-wavy__inner">
               <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic">
               <div class="header__loc">
                  <form action="">
                     <select name="interface__lang" id="">
                        <option value="RU" class="header__loc__current">RU</option>
                        <option value="TM" class="header__loc__current">TM</option>
                     </select>
                  </form>
               </div>
            </div>
         </header>
         <div class="container__content">
            <div class="my__vac">
               <h1 class="my__vac__title">Мои вакансии</h1>
               <div class="my__vac__item">

                  <h2 class="my__vac__item__title">Бухгалтер</h2>
                  <h3 class="my__vac__item__subtitle">2,000 ман.</h3>

                  <a href="" class="amount__resp">20 человек откликнулись к этой вакансии</a>

                  <span>Вакансия обновлена 23.11</span>

                  <button class="refresh__in__search__btn green__btn">Обновить в поиске</button>

                  <a href="" class="edit__btn purp__btn">Редактировать</a>

                  <a href="" class="suitable__link">27 подходящий сотрудников</a>
               </div>

               <a href="" class="add__vac"><span>+</span>Добавить новую вакансию</a>
            </div>
         </div>    
      </div>

</body>
</html>