<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="../main.css">
      <title>My recomendations</title>
   </head>
   <body>    
      
      <svg display="none">
         <symbol id="favorites__str" viewBox="0 0 28 27">
            <g>
               <path d="M14 1L18.017 9.13603L27 10.4487L20.5 16.7782L22.034 25.72L14 21.496L5.966 25.72L7.5 16.7782L1 10.4487L9.983 9.13603L14 1Z" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
         </symbol>
      </svg>

      <div class="container__main pad-0 w-1920">
         <header class="header-wavy">
            <div class="container__content header-wavy__inner">
               <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic">
               <div class="header__loc">
                  <form action="">
                     <select name="interface__lang" id="">
                        <option value="RU" class="header__loc__current">RU</option>
                        <option value="TM" class="header__loc__current">TM</option>
                     </select>
                  </form>
               </div>
            </div>
         </header>
         
         <div class="container__content">
            <div class="e__rec">
               <h1 class="e__rec__title">Графический дизайнер</h1>
               <h2 class="e__rec__subtitle">Рекомендации резюме в соотвтествии с вашими запросами на сайте</h2>
               <div class="e__rec__inner">
                  <div class="vacancy__card">
                     <div class="vac__card__inner">
                        <div class="vac__heading">
                           <h2 class="vac__heading__item">Помощник Бухгалтера</h2>
                           <h2 class="vac__heading__item">2000 манат</h2>
                        </div>
                        <div class="vac__heading">
                           <h2 class="vac__heading__item">22:04</h2>
                           <svg width="26px" height="24px">
                              <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico"></use>
                           </svg>
                        </div>
                        <div class="vac__categories">
                           <span class="vac__cat__item two-col">Бухгалтерия и управление</span>
                           <span class="vac__cat__item">Ашхабад</span>
                           <span class="vac__cat__item">Опыт 5 лет</span>
                           <span class="vac__cat__item">28 лет</span>
                           <span class="vac__cat__item">Пол мужской</span>
                           <span class="vac__cat__item two-col">Образование среднее</span>
                        </div>
   
                        <div class="vac__btns">
                           <form action="" target="_blank">
                              <button class="vac__btns__item purp__btn">
                                 Подробнее
                              </button>
                           </form>
                           <form action="" target="_blank">
                              <button class="vac__btns__item green__btn m-0">
                                 Получить контакты
                              </button>
                           </form>
                        </div>
                     </div>
                  </div>
   
               </div>
               <div class="e__rec__toggle">
                  <h1 class="e__rec__toggle__title">Настройки</h1>   
                  <div class="user__time__checkbox__wrapper">
                     <span>Рекомендации вакансий</span>
                     <input type="checkbox" class="user__time__checkbox" id="user__recoms" name="user__prog__checkbox">
                     <label for="user__recoms" class="user__time__checkbox__label"></label>
                  </div>             

                  <div class="h__fav__top__row"></div>

                  <div class="user__time__checkbox__wrapper">
                     <span>Уведомления о просмотрах 
                        резюме</span>
                     <input type="checkbox" class="user__time__checkbox" id="user__notifications" name="user__prog__checkbox">
                     <label for="user__notifications" class="user__time__checkbox__label"></label>
                  </div>    
               </div>
            </div>


               <!-- <div class="vacancy__card">
                  <div class="vac__card__inner">
                     <div class="vac__heading">
                        <h2 class="vac__heading__item">Помощник Бухгалтера</h2>
                        <h2 class="vac__heading__item">2000 манат</h2>
                     </div>
                     <div class="vac__heading">
                        <h2 class="vac__heading__item">22:04</h2>
                        <svg width="26px" height="24px">
                           <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico"></use>
                        </svg>
                     </div>
                     <div class="vac__categories">
                        <span class="vac__cat__item two-col">Бухгалтерия и управление</span>
                        <span class="vac__cat__item">Ашхабад</span>
                        <span class="vac__cat__item">Опыт 5 лет</span>
                        <span class="vac__cat__item">28 лет</span>
                        <span class="vac__cat__item">Пол мужской</span>
                        <span class="vac__cat__item two-col">Образование среднее</span>
                     </div>

                     <div class="vac__btns">
                        <form action="" target="_blank">
                           <button class="vac__btns__item purp__btn">
                              Подробнее
                           </button>
                        </form>
                        <form action="" target="_blank">
                           <button class="vac__btns__item green__btn m-0">
                              Получить контакты
                           </button>
                        </form>
                     </div>
                  </div>
               </div> -->


               
            
         </div>    
      </div>

</body>
</html>