<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="../main.css">
      <title>My Responses</title>
   </head>
   <body>
      <svg display="none">
         <symbol id="favorites__str" viewBox="0 0 28 27">
            <g>
               <path d="M14 1L18.017 9.13603L27 10.4487L20.5 16.7782L22.034 25.72L14 21.496L5.966 25.72L7.5 16.7782L1 10.4487L9.983 9.13603L14 1Z" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
         </symbol>
      </svg>
      <div class="container__main pad-0 w-1920">
         <header class="header-wavy">
            <div class="container__content header-wavy__inner">
               <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic">
               <div class="header__loc">
                  <form action="">
                     <select name="interface__lang" id="">
                        <option value="RU" class="header__loc__current">RU</option>
                        <option value="TM" class="header__loc__current">TM</option>
                     </select>
                  </form>
               </div>
            </div>
         </header>
         <div class="container__content">
            <div class="my__responses">
               <h1 class="my__responses__title">Мои отклики</h1>
               <h2 class="my__responses__subtitle">Вакансии на которые вы откликнулись</h2>
               <div class="my__responses__item__wrapper">
                  <div class="my__responses__item">
                     <h3 class="my__responses__item__headline">Профессия</h3>
                     <h3 class="my__responses__item__headline">3000 манат</h3>
                  </div>
                  
                  <div class="my__responses__item">
                     <div class="my__responses__item__additionally">Компания, Город</div>
                        <button class="my__responses__item__btn">Отменить отклик</button>
                  </div>
               </div>
            </div>
         </div>    
      </div>

</body>
</html>