<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <link rel="stylesheet" href="../main.css">
   <title>Document</title>
</head>

<body>
   <div class="container__main pad-0 w-1920">
      <header class="header-wavy">
         <div class="container__content header-wavy__inner">
            <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic">
            <div class="header__loc">
               <form action="">
                  <select name="interface__lang" id=""
                     onchange="window.location.href=this.options[this.selectedIndex].value">
                     <option value="RU" class="header__loc__current">RU</option>
                     <option value="TM" class="header__loc__current">TM</option>
                  </select>
               </form>
            </div>
         </div>
      </header>

      <div class="reg-g-c container__content">
         <div class="reg-g-c__inner">
            <h1 class="reg-g-c__title">Мы отправили код на вашу почту,введите его, для подтверждения личности</h1>

            <form action="">
               <input type="text" class="reg-g-c__input" placeholder="Введите код">
            </form>
            <div class="reg-g-t__retry-sending">
               <span class="reg-g-t__retry-sending__txt">
                  Не получили код?
               </span>
               <br>
               <a href="" class="reg-g-t__retry-sending__link">Отправить код</a>
               <span class="reg-g-t__retry-sending__txt">
                  на вашу почту?
               </span>
            </div>

            <div class="reg-g-c__notification">
               <span class="reg-g-c__notification__checkmark">
                  &#10004;
               </span>
               <p class="reg-g-c__notification__txt">
                  Нажимая “Зарегестрироваться”, вы подтверждаете, что ознакомлены и полностью согласны с условием
                  использования сайта, а также подтверждаете свое совершенолетие и отвественность за размещение
                  объявлений.
               </p>

            </div>

            <button class="reg-g-c__btn purp__btn">Зарегистрироваться</button>
         </div>
      </div>


   </div>
</body>

</html>