<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="../main.css">
      <title>My search history</title>
   </head>
   <body>
      <svg display="none" fill="none">
         <symbol id="search__pic" viewBox="0 0 22 22">
            <path d="M7.875 16.75C11.672 16.75 14.75 13.672 14.75 9.875C14.75 6.07804 11.672 3 7.875 3C4.07804 3 1 6.07804 1 9.875C1 13.672 4.07804 16.75 7.875 16.75Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17.501 19.5001L12.7344 14.7334" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
         </symbol>
      </svg>
      <div class="container__main pad-0 w-1920">
         <header class="header-wavy">
            <div class="container__content header-wavy__inner">
               <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic">
               <div class="header__loc">
                  <form action="">
                     <select name="interface__lang" id="">
                        <option value="RU" class="header__loc__current">RU</option>
                        <option value="TM" class="header__loc__current">TM</option>
                     </select>
                  </form>
               </div>
            </div>
         </header>
         
         <div class="search__history">
            <div class="container__content">
               <div class="search__history__inner">
                  <section class="search__history__section">
                     <div class="search__history__title">
                        <h1 class="h__fav__top__title">История поиска</h1>
      
                        <h2 class="priv__data__item__action">Очистить историю <img src="../src/images/trsh__box__pic.png" alt=""></h2>
                     </div>
      
                     <div class="search__history__item">
                        <h3 class="search__history__headline">
                           Бухгалтер
                        </h3>
                        
                        <div class="search__history__item__cats__wrapper">
                           <div class="search__history__item__cat">
                              Бухгалтерия и управление
                           </div>

                           <div class="search__history__item__cat">
                              от 1800 ман
                           </div>

                           <div class="search__history__item__cat">
                              Опыт 1 - 3 года
                           </div>

                           <div class="search__history__item__cat">
                              Образование среднее
                           </div>


                           <div class="search__history__item__cat">
                              Ашхабад
                           </div>

                           <div class="search__history__item__cat">
                              Пол мужской
                           </div>

                           <div class="search__history__item__cat">
                              25 лет
                           </div>

                           <div class="search__history__item__cat">
                              Частичная занятость
                           </div>

                           <div class="search__history__item__cat">
                              Гибкий график
                           </div>

                           <div class="search__history__item__cat">
                              Туркменский
                           </div>

                        </div>

                        <div class="search__history__bottom">
                           <h2 class="priv__data__item__action">Удалить</h2> 

                           <button class="search__history__btn green__btn">
                              Искать 
                              <svg width="26px" height="24px" >
                                 <use xlink:href="#search__pic" width="22" height="22" fill="none" class="white__stroke"></use>
                              </svg>
                           </button>
                        </div>
                     </div>
                  </section>

                  <section class="search__history__section">
                       <h2 class="recoms__title">Рекомендуемые  вакансии</h2>

                       <div class="recoms__item">
                           <h3 class="recoms__subtitle">Графический дизайнер</h3>

                           <h4 class="priv__data__item__action">Компания С</h4> 

                           <h5 class="my__responses__item__headline">2000 ман</h5>
                       </div>

                       <a href="" class="recoms__link">
                        Еще 33 похожих вакансий
                       </a>
                  </section>
               </div>
            </div>
         </div>
      </div>

</body>
</html>