<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="../main.css">
   <title>Support Page</title>
</head>

<body>
   <svg display="none" fill="none">
      <symbol id="search__pic" viewBox="0 0 22 22">
         <path
            d="M7.875 16.75C11.672 16.75 14.75 13.672 14.75 9.875C14.75 6.07804 11.672 3 7.875 3C4.07804 3 1 6.07804 1 9.875C1 13.672 4.07804 16.75 7.875 16.75Z"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
         <path d="M17.501 19.5001L12.7344 14.7334" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </symbol>
   </svg>
   <div class="container__main pad-0 w-1920">
      <header class="header">
         <div class="container__content">
            <div class="header__content">
               <section class="header__sec__type3 ">
                  <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic ">

               </section>
               <section class="header__sec__type3">
                  <form action="">
                     <div class="nav">
                        <img src="../src/images/search__ic.svg" alt="Sorry">
                        <input type="text" class="nav__inp" placeholder="Профессия, должность или ключевые слова">
                        <input type="text" class="nav__inp__small" placeholder="Профессия">
                     </div>
                     <a href="">
                        <img src="../src/images/nav__setting.png" alt="Sorry" class="nav__set__pic">
                     </a>
                  </form>
               </section>

               <section class="header__sec__type3">
                  <a href="" class="header__user__pic">
                     <img src="../src/images/user__def__ic.png" alt="Sorry">
                  </a>
                  <button class="hamburger hamburger-line">
                     <span></span>
                  </button>
               </section>
            </div>
         </div>
      </header>
      <div class="container__content">
         <div class="nav__burger disappear">
            <h1 class="nav__title">Меню</h1>

            <a href="" class="nav__link">Каталог компаний</a>

            <a href="" class="nav__link">Статьи</a>

            <select name="interface__lang" onchange="window.location.href=this.options[this.selectedIndex].value"
               class="nav__link">
               <option selected disabled hidden class="header__loc__current">Язык</option>
               <option value="" class="header__loc__current">RU</option>
               <option value="" class="header__loc__current">TM</option>
            </select>

            <a href="" class="nav__link">История поиска</a>

            <a href="" class="nav__link">Условия использования и политика конфиденциальности</a>

            <a href="" class="nav__link">Связаться с нами</a>
         </div>
      </div>
      <div class="container__content">
         <div class="support">
            <div class="support__content">
               <img src="../src/images/write__to__us.png" alt="">
               <h1 class="support__title">
                  Если вы хотите задать вопрос или
                  у вас есть предложение
                  напишите нам!
               </h1>
               <a href="" class="support__btn green__btn">Написать</a>
            </div>
         </div>
      </div>


   </div>
   <script src="../scripts/header.js"></script>
</body>

</html>