<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="../main.css">
   <title>Support Page</title>
</head>

<body>
   <div class="container__content">
      <div class="support">
         <div class="delete__content__content">
            <h1 class="delete__title">
               Вы уверены что хотите удалить ваш аккаунт на ishim.com без восстановления? Все ваши личные данные,
               избранные и объявления удалятся без восстановления
            </h1>
            <div class="delete__btns__wrapper">
               <a href="" class="red__btn">Удалить</a>
               <a href="" class="grey__btn">Отменить</a>
            </div>
         </div>
      </div>
   </div>


   </div>
   <script src="../scripts/header.js"></script>
</body>

</html>