<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../main.css">
   
   <title>IshimMain</title>
</head>
<body>
   <div class="container__main pad-0 w-1920">
      <header class="header">
         <div class="container__content">
            <div class="header__content">         
               <section class="header__sec__type3 header__pic__dn">
                  <img src="../src/images/header/Ishim__logo.png" alt="" class="header__pic header__pic__dn">
                  
               </section>
               <section class="header__sec__type3">
                  <form action="">
                     <div class="nav">
                        <img src="../src/images/search__ic.svg" alt="Sorry">
                           <input type="text" class="nav__inp" placeholder="Профессия, должность или ключевые слова">
                     </div>
                     <img src="../src/images/nav__setting.png" alt="Sorry" class="nav__set__pic">
                  </form>
               </section>

               <section class="header__sec__type3">
                  <a href="" class="header__user__pic">
                     <img src="../src/images/user__def__ic.png" alt="Sorry">
                  </a>
                  <button class="hamburger hamburger-line">
                     <span></span>
                  </button>
               </section>
            </div>
         </div>
      </header>
   </div>
</body>
</html>